# Flutter/Dart
*.dart_tool/
.packages
.pub/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Android
android/.gradle/
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.*

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Coverage
coverage/
*.lcov

# Generated
*.g.dart
*.freezed.dart
